/*----------------------Resouce Tab ----------------------*/
.resouce-tab{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2rem;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 95%;
    border: 0.1rem solid #ddd;
    align-self: center;
}
th, td{
    text-align: left;
    padding: 1rem;
}
tr:nth-child(even) {
    background-color: #f1f1f1
}
.sort-search{
    display: flex;
    align-self: flex-end;
}
.table-sort{
    height: 2.5rem;
    font-size: 1.6rem;
    margin-right: 1rem;
    margin-top: 0.6rem;
}
.search-field{
    height: 1.5rem;
}