/**************************************************************/
/*                          HOME                              */
/**************************************************************/
li, a{
    text-decoration: none;
}

/*-------------------------BANNER------------------------------*/
.banner-img {
    min-height: calc(100vh - 60px);
    background: url("./images/learnx_banner1.jpeg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2rem solid #0bd125;
}
.banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 3rem 8rem;
}
.banner-title {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 3rem;
    font-weight: bold;
}
.banner-title a{
    font-size: 3.4rem;
    color: #000;
    font-style: italic;
    text-shadow: 0.05em 0.075em 0 rgba(11, 209, 37, 0.5);
}
.banner p{
    font-size: 2.0rem;
    font-style: italic;
}

/*---------------------BUSINESS POINTS---------------------------*/
.bussiness-points, .blog-post{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0rem 4rem;
    padding: 5em 0 3em 0;
}

.bussiness-point{
    align-content: center;
    text-align: center;
    width: 30%;
    padding: 1rem;
}
.bussiness-point h3{
    font-weight: 600;
    font-size: 2.5rem;
}
.icon-point{
    background-color: #0bd125;
    color: #fff;
    display: inline-block;
    height: 5em;
    width: 5em;
    line-height: 6em;
    border-radius: 100%;
    box-shadow: 0 0 0 0.7rem white, 0 0 0 1rem #e0e0e0;
    margin: 0 0 1.5em 0;

}
.icon-point i{
    font-size: 3em;
}
@media screen and (max-width: 840px){
    .bussiness-point {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .point-text{
        width: 80%;
        padding-left: 3rem;
        text-align: left;
    }
    .icon-point{
        z-index: -1;
        position: relative;
        margin: 0;
        left: 0;
        top: 0.5em;        
    }
    
}
/*-------------------Mission Statement----------------------*/
.wrapper {
    background-color: #fff;
    background-image: url(../../../public/assets/images/bg02.png), url(../../../public/assets/images/bg03.png), url(../../../public/assets/images/bg01.png);
    background-position: top left, bottom left, top left;
    background-size: 100% 6em, 100% 6em, auto;
    background-repeat: no-repeat, no-repeat, repeat;
    padding: 5em 0 3em 0;
}
header.mission-statement-container {
    text-align: center;
    margin: 0 5% 2em 5%;
    width: 90%;
    
}
header.mission-statement-container h2 {
    font-size: 2.25em;
}
header.mission-statement-container p {
    position: relative;
    border-top: solid 0.2rem #6d6d6d;
    padding: 1em 0 0 0;
    margin: 0;
    top: -1em;
    font-size: 1.5em;
    letter-spacing: -0.025em;
    color: #999;
}
/*---------------------BLOG POSTS---------------------------*/
.posts-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.post-card{
    width: 45%;
    position: relative;
    margin: 0 0 2em 0;
    display: flex;
    justify-content: flex-start;
    box-shadow: 0 .4rem .8rem 0 rgba(0,0,0,0.2);
    overflow: hidden;
}
.post-card:hover{
    box-shadow: 0 .8rem 1.6rem 0 rgba(0,0,0,0.2);
}
.post-text{
    width: 80%;
    padding: 1rem 1rem 1rem 3rem;
    text-align: left;
}
.post-text h3{
    font-size: 2.5rem;
    margin-top: 2rem;
    color: #0bd125;
}

.post-text h5{
    font-style: italic;
    margin-bottom: 2rem;
}
.post-img-container{
    max-height: 14.6em;
}
.post-img-container img{
    max-width: 15em;
    height: 15em;
}

@media screen and (max-width: 840px){
    .blog-post{
        margin: 1em;
    }
    .post-text{
        padding: 0;
        margin: auto;
    }
    .post-card{
        width: 100%;
        padding: 0;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
    }
    .post-img-container img{
        max-width: 100%;
        display: block;
    }
}