/***********************************************/
/*             LECTURE RECORDINGS              */
/***********************************************/

.recent-lectures{
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    flex-wrap: wrap;
}
.lecture-video{
    max-width: 32rem;
    max-height: 30rem;
}
.lecture-card{
    max-width: 32rem;
    padding-bottom: 0.8rem;
    border-bottom: 0.3rem solid #ddd;
    margin: 1.5rem;
}
.lecture-title{
    font-size: 2rem;
    font-weight: bold;
}
.record-date{
    font-size: 2rem;
}
.lecture-footer{
    display:  flex;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 1rem;
}